/* StartGameButton.css */
.join-game-button {
    background-color: rgb(145, 255, 0);
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .join-game-button:hover {
    background-color: rgb(139, 102, 0);
  }
  

  .popup {
    position: fixed;
    top: 20%;
    left: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  .popup input[type="text"] {
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .popup button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3%;
  }
  
  .popup button[type="submit"]:hover {
    background-color: #2980b9;
  }

  .popup button[type="reset"] {
    background-color: #bbdaef;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .popup button[type="reset"]:hover {
    background-color: #2980b9;
  }
  
  
  .popup button[type="button"] {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 5%;
  }
  
  .popup button[type="button"]:hover {
    background-color: #f1f1f1;
  }