/* StartGameButton.css */
.join-game-button {
    background-color: rgb(145, 255, 0);
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .join-game-button:hover {
    background-color: rgb(139, 102, 0);
  }
  